<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="height: 200px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="btn-group" appDropdown [dropdownOpenClass]="'dropdown-position'">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Manage Recipe
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor: pointer;">Add Ingredients to Shopping List</a></li>
    <li><a class="dropdown-item" (click)="onEditRecipe()" style="cursor: pointer;">Edit Recipe</a></li>
    <li><a class="dropdown-item" (click)="onDeleteRecipe()" style="cursor: pointer;">Delete Recipe</a></li>
  </ul>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>